@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Based on Skeleton V2.0.4 Dave Gamache (www.getskeleton.com) */


/* Grid */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .columns {
    margin-left: 4%; }
  .columns:first-child {
    margin-left: 0; }

  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.columns              { width: 30.6666666667%; }
  .two-thirds.columns             { width: 65.3333333333%; }
  .one-half.columns               { width: 48%; }

  /* Offsets */
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
  .offset-by-one-half.columns     { margin-left: 52%; }
}


/* Base Styles */
/* NOTE: html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.4em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #840000; }


/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.2; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.2; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Buttons */
.button {
  display: inline-block;
  height: 22px;
  padding: 0 10px;
  color: #840000;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #c8bfc7;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover {
  border-color: #840000;
  outline: 0;
}

.iconButton {
  position: absolute;
  fill: #c8bfc7;
  width: 20px;
  height: 20px;
}
.iconButton:hover {
  fill: #840000;
}

.popup {
  display: none;
  position: absolute;
  line-height: 200%;
  padding: 2%;
  border: 1px solid #840000;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  box-shadow: -10px 0 0 100em rgba(209, 200, 208, .6);
}


/* Forms */
select {
  color: #840000;
  height: 22px;
  padding: 1px 5px; /* The 6px vertically centers text on FF, ignored by Webkit */
  border: 1px solid #c8bfc7; 
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

select:hover {
  border-color: #840000;
}


/* Spacing  */
button, .button {
  margin-bottom: 1rem; }
input, textarea, select, fieldset {
  margin-bottom: 1.5rem; }
pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: 2.5rem; }


/* Misc */
hr {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-width: 0;
  border-top: 1px solid #c8bfc7; }


/* Clearing */
/* Self Clearing Goodness */
.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries */
/* Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there. */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}